<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src='vendor/jquery-3.2.1.min.js')
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        h1!= hola  
        //Cadena que se ejecuta como html (cadenas no escapadas)
    body
        h1 #{uso_cpu}
        script.
            function update(){
                $.ajax({
                url: '/',
                type: 'POST',
                }).done(function (data) {
                        console.log(data);
                    });
                console.log("ARCHIVOLISTO");
            }
            setInterval(update, 1000);    
            
           